
.content {
  padding: 16px;
}

ion-card {
  margin: 16px 0;
}

ion-card-header,
ion-card-content {
  padding: 16px;
}

ion-card-title {
  font-size: 1.2em;
}

ion-button {
  margin-top: 16px;
  width: 100%;
  --padding-start: 0;
  --padding-end: 0;
}
