<ion-content>
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Bienvenido a RegistrAPP
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="ion-margin-bottom">
          <ion-input label="Correo" type="email" label-placement="floating" fill="solid" [(ngModel)]="email"></ion-input>
        </div>
        <div class="ion-margin-bottom">
          <ion-input label="Contraseña" type="password" label-placement="floating" fill="solid" [(ngModel)]="password"></ion-input>
        </div>
        <ion-button expand="block" (click)="login()">Ingresar</ion-button>
        <p *ngIf="loginError" style="color: red; text-align: center; margin-top: 10px;">
          {{ loginError }}
        </p>
        <p class="ion-text-center"><a [routerLink]="['/reset-password']">Recuperar contraseña</a></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
