<app-header></app-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Bienvenido
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="login()">Ingresar</ion-button>
      <p><a [routerLink]="['/reset-password']">Recuperar contraseña</a></p>
    </ion-card-content>
  </ion-card>
</ion-content>
